altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
duckduckgo_search
feedparser
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-genai
googleapis-common-protos
h11
httpcore
httplib2
httpx
idna
Jinja2
jsonschema
jsonschema-specifications
lxml
MarkupSafe
narwhals
numpy
oauthlib
packaging
pandas
pillow
primp
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
pyparsing
python-dateutil
pytz
referencing
requests
requests-oauthlib
rpds-py
rsa
sgmllib3k
six
smmap
sniffio
soupsieve
streamlit
tenacity
toml
tornado
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
watchdog
websockets
